.intro__inner{
    display: flex;
    justify-content: space-between;
    max-width: 1190px;
    background-color:rgb(255, 255, 255);
    height: 350px;
    padding: 96px;
    margin-bottom: 150px;
}
.intro__title{
    font-size: 26px;
    color:#000;
}
.intro__text{
    font-size: 16px;
    color:#737373;
}
.intro__text-small{
    margin-bottom: 51px;
    font-size: 11px;
    color:#737373;
}